input.jscolor{width:110px !important; height:30px !important;border-radius:10px;padding:10px;text-indent:-9999px;}
.selectboxit-container .selectboxit-options {width: 300px;max-height: 300px;}
label{display:block}
#bold{font-weight:bold}
#italic{font-style:italic}
#underline{text-decoration:underline}
#line-through{text-decoration:line-through}
.container {margin: 0 auto;text-align:center;}
.panel-toggle{padding:15px;border-radius:10px;background:#0077B3;margin:10px 0;color:#FFFFFF;font-size:1.3em;font-weight:bold;position: relative;}
#toPic{font-weight:bold;font-size:1.5em;}
#font-familySelectBoxItText{font-size:1em}
.fb-comments{margin-top:80px auto;width:100%}
.tip-bottom,.tip-top,.tip-middle,.tip-submit  {
	background-repeat:no-repeat;
	background-position:top right;
	color: #333;
}
.tip-canvas{
	background-repeat:no-repeat;
	background-position:bottom left;
	color: #333;	
}
.tip-top,.tip-middle {background-image:url(../img/arrow-up.png);}
.tip-submit {background-image:url(../img/arrow-submit.png);}
.tip-canvas {background-image:url(../img/arrow-canvas.png);}
.tip-bottom{background-image:url(../img/arrow-down.png);}
/* Use this next selector to style things like font-size and line-height: */
.tip-bottom .tooltipster-content, .tip-middle .tooltipster-content,.tip-top .tooltipster-content,.tip-submit .tooltipster-content,.tip-canvas .tooltipster-content{
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 18px;
	padding: 0px;
	font-weight:bold;	
}
.tip-submit .tooltipster-content{width:280px;margin:80px -50px -30px 0;}
.tip-canvas .tooltipster-content{width:200px;margin:0px -30px 20px 70px;}
.tip-bottom .tooltipster-content {
	margin:-35px 50px 35px 0;
	width:200px;	
}
.tip-top .tooltipster-content,.tip-middle .tooltipster-content {
	margin:20px 30px 20px 0;
	width:180px;
}
.tooltipster-content span{font-weight:normal;display:block;font-size:12px;margin-top:5px}
